<!--

  <div class="container">
    <div class="mx-sm-3 py-3" *ngIf="(issuesShow.length>0) else loading">
    <h5 class="py-3">Repositorio:
      <br> {{url}}</h5>
      <div class="row">
        <div class="col-md-6 py-3" *ngFor="let issue of issuesShow">
          <div class="card">
            <div class="card-header">
              <p>{{issue.title}}</p>
            </div>
            <div class="card-body">
              <p>State: {{issue.state}}</p>
              <p><span *ngFor="let label of issue.label">label.name</span></p>
              <p>Description: {{(issue.body | slice:0:120)+'...'}}</p>
              <a href="{{issue.html_url}}" class="card-link">See more</a>
            </div>
            <div class="card-footer text-muted">
              <p class="text-right">Issue created:  {{ issue.created_at | date:"MM/dd/yy" }}</p>
            </div>
          </div>
        </div>
      </div>


      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <div class="page-link" (click)="setPage(1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </div>
          </li>
          <li (click)="prevPage()" class="page-item"><div class="page-link">{{page-1}}</div></li>
          <li (click)="setPage(page)" class="page-item active"><div class="page-link">{{page}}</div></li>
          <li (click)="nextPage()" class="page-item"><div class="page-link">{{page+1}}</div></li>
          <li class="page-item">
            <div class="page-link" (click)="setPage(issuesShow.length-1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </div>
          </li>
        </ul>
      </nav>

    </div>
    <ng-template #loading>
      <div class="mx-sm-3 py-3">
        <h4 class="text-danger">Failed request</h4>
      </div>
    </ng-template>
  </div>

-->
